extends ./inc/page
block css
  link(href="css/admin.css",type="text/css",rel="stylesheet")

block content
  #login-app
    #wrapper
      .lobby
        br
        br
        h1 Here are instructions or whatever.
        br
        br