extends ./inc/page

block css
  link(href="css/admin.css",type="text/css",rel="stylesheet")

block content
  #admin-app

block script
  - let ext = locals.mode=='production' ? '.min.js' : '.js'
  script(src='js/admin-bundle' + ext)