.padded-column {
    padding:0 $gutter-width;
}
.code-list {
    input {
        position:relative;
        &:read-only {
            backgropund:white;
            color:black;
            border:none;
        }
    }

}
.section-title {
    background:$black;
    color:$white;
    margin-bottom:1em;
    h2 {
        text-align:center;
        margin:0;
        line-height:2;
        text-transform:uppercase;
        font-size:1.2em;
    }
}
