header {
    text-align:center;
    .logo {
        font-size:1em;
        text-transform:uppercase;
    }

}

form {
    padding:0 $gutter-width;
    label {
        display:block;
    }
    input,select {
        margin-bottom:$gutter-width/2;
        display:block;
    }
    .datepicker-field input {
        margin-bottom:0;
    }
    .react-datepicker-popper {
        z-index:999;
    }
}

.manager-container {
    padding:0 $gutter-width;
    .manager-row {
        display:flex;
        margin-bottom:1em;
        a {
            display:flex;
            flex-basis:90%;
        }
        .delete {
            flex-basis:10%;
            background:red;
            color:white;
            font-size:.7em;
            margin-left:1em;
            text-align:center;
            cursor:pointer;
        }
    }
}
nav {
    a {
        padding:1em 3em;
        background:gray;
        color:white;
        margin-right:$gutter-width;
    }
}
.code-list {
    input {
        position:relative;
        &:read-only {
            backgropund:white;
            color:black;
            border:none;
        }
    }
    button.delete {
        width:5px;
        height:5px;
        background:red;
        border-radius:50%;
        position:absolute;
        top:0;
        right:0;
    }
}