.answer-basket {
    p.team {
        font-family:$header-font;
        font-size:2.4em;
        margin:0;
    }
    .three-quarter p {
        padding:0 1em;
        &.answer {
            padding:0 .5em;
        }
    }
}
.answer-carousel {
    display: flex;
    overflow:hidden; 
    .answer-sheet {
        flex-basis:90%;
        margin:0 5% 1em;
        border:1px solid $black;
        padding:0;
        display:flex;
        flex-direction:column;
        align-items:center;
        @include bp(m) {
            flex-basis:40%;
            margin:0 5% 1em;
        }
    }
    .question {
        font-weight:bold;
    }
    .question, .team {
        text-align:center;
    }
    .answer-row {
        padding:.5em 0;
        margin:0 0 .5em;
        p {
            margin:0;
            line-height:1.5;
            &.answer {
                font-weight:bold;
                font-size:2em;
            }
        }
        input[type="checkbox"] {
            -webkit-appearance:none;
            width:30px;
            height:30px;
            background:$white;
            border-radius:5px;
            border:2px solid $black;
            &:checked {
                background:green;
                &:after {
                    content:'✔';
                    color:$white;
                    padding:.45em;
                }
            }
        }
    }
    .button {
        display:inline-block;
        flex-basis:50%;
        margin-bottom:1em;
    }
    .column.bid {
        text-align:center;
        font-weight:bold;
        display:flex;
        flex-direction: column;
        padding:0 25%;
        label {
            text-align:left;
            display:inline-block;
        }
        input {
            margin-bottom:1em;
        }
        .bid {
            font-size:2em;
        }
    }
    .answer-header {
        font-style:italic;
        background:black;
        color:$white;
        padding:.5em 0;
    }
    .quarter {
        text-align:center;
    }
}

