//Basic Styles
body {
  font-family: $body-font;
  background: $body-bg-color;
  color: $body-text-color;
  position: relative;
  min-height:100vh;
}
a {
  text-decoration: none;
  color: $body-link-color;
  &:hover {
    color: $body-link-hover-color;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
}
#admin-app, #player-app, #login-app, #lobby-app, .page-header {
  width:95%;
  max-width:1200px;
  margin:0 auto;
}
#wrapper {
  padding-bottom:$gutter-width;
  background:$off-white;
}

.flex {
  display:flex;
  flex-wrap:wrap;
  &.nowrap {
    flex-wrap:nowrap;
  }
  .column {
    flex-basis:100%;
    @include bp(m) {
      &.half {
        flex-basis:50%;
      }
      &.quarter {
        flex-basis:25%;
      }
      &.three-quarter {
        flex-basis:75%;
      }
      &.fifth {
        flex-basis:20%;
      }
      &.two-fifth {
        flex-basis:40%;
      }
      &.three-fifth {
        flex-basis:60%;
      }
    }
  }
}