//Basic Styles
body {
  font-family: $body-font;
  background: $body-bg-color;
  color: $body-text-color;
  position: relative;
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: $body-link-color;
  &:hover {
    color: $body-link-hover-color;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
}
.max-width {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}
#wrapper {
  background: $off-white;
}
.black-wrapper {
  background: $black;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  &.nowrap {
    flex-wrap: nowrap;
  }
  .column {
    flex-basis: 100%;
    @include bp(m) {
      &.half {
        flex-basis: 50%;
      }
      &.quarter {
        flex-basis: 25%;
      }
      &.three-quarter {
        flex-basis: 75%;
      }
      &.fifth {
        flex-basis: 20%;
      }
      &.two-fifth {
        flex-basis: 40%;
      }
      &.three-fifth {
        flex-basis: 60%;
      }
    }
  }
}

.game-header {
  background: $black;
  color: $white;
  text-align: center;

  display: flex;
  .details,
  .description {
    padding: $gutter-width/2;
  }
  .details {
    h2,h3 {
      font-weight:normal;
      margin:0 0 .5em;
    }
    
  }
  .description-bucket {
    background: darken($blue, 10%);
    h2 {
      font-size:.9em;
      text-transform:uppercase;
      font-weight:normal;
      color:lighten($blue,50%);
    }
  }
  .description {
    flex-basis: 100%;
    padding: 0 1em;
    color:lighten($blue,50%);
    a {
      color:$white;
      text-decoration: none;
      &:hover {
        text-decoration:underline;
      }
    }
  }
}
