.chat-widget {
    padding:$gutter-width/2 $gutter-width;
    margin:$gutter-width/2 $gutter-width 0;
    border:1px solid $blue;
    background:lighten($blue,30%);
    color:$white;
    display:block;
    .box {
        display:block;
        &.chat-window {
            display:flex;
            flex-wrap:wrap;
            textarea {
                flex-basis:100%;
                color:black;
                font-size:1.2em;
                min-height:100px;
            }
        }
    }
}