.chat-widget {
    width: 100%;
    .box {
        label {
            cursor: pointer;
            display: block;
            flex-basis: 100%;
            background: black;
            color: white;
            padding: $gutter-width/4;
            text-transform: uppercase;
            @include nice-transition();
        }
        .active-area {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            .column {
                @include nice-transition();
                flex-basis: 50%;
                max-height: 20vh;
                overflow: hidden;
                &.messages {
                    flex-basis:60%;
                    &.wide {
                        flex-basis:100%;
                    }
                }
                &.chat {
                    flex-basis:40%;
                    textarea {
                        width:100%;

                    }
                }
                .inner {
                    padding: .5em;
                    max-height: 15vh;
                    &.scrollable {
                        overflow-y: scroll;
                    }
                }
            }
        }
        input[type="checkbox"] {
            display: none;
            &:checked {
                + .active-area {
                    label {
                        color: $blue;
                        background:$white;
                    }
                    .column {
                        max-height: 0;
                        .inner {
                            max-height: 0;
                        }
                    }
                }
            }
        }
    }
}
