.header-row {
  flex-basis: 100%;
  border-bottom: 1px solid $dark-green;
  margin-bottom: $gutter-width;
  p {
    font-size: 12px;
    font-weight: 300;
    &.id {
      font-size: 10px;
    }
  }
}

.game-form {
  padding: $gutter-width;
  label {
    padding: 0.25em;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
  }
  input {
    padding: 0;
  }
  input[type="text"] {
    padding: 0.25em 0;
    text-indent: 0.25em;
    width: 100%;
    max-width: 350px;
  }
  button,
  input[type="submit"],
  input[type="button"] {
    padding: 0.25em 0.5em;
    margin-right: 0.5em;
  }
}
.answer-sheet {
  background:$white;
  padding:$gutter-width/2 $gutter-width;
}