form.login-form, form.signup-form {
    max-width:300px;
    margin:0 auto;
    padding:$gutter-width 0;
    label {
        display:block;
        font-size:.8em;
        text-transform:uppercase;
        input {
            display:block;
            width:100%;
            padding:0;
            font-size:1.2em;
            line-height:1.5;
            text-indent:.5em;
        }
    }
    .button {
        display:block;
        margin:$gutter-width/2 10%;
    }

}