.admin-controls {
    padding:.5em;
    .button {
        margin-right:1em;
    }
}
.game-controls {
    display:flex;
    flex-wrap:wrap;
    .info-block {
        flex-basis:50%;
        background:$off-black;
        color:$white;
        display:flex;
        flex-wrap:wrap;
        .item {
            flex-basis:100%;
            display:flex;
            .label {
                flex-basis:25%;
                text-align:right;
                text-transform:uppercase;
                color:$gray;
                &:after {
                    content:':';
                }
            }
            .value {
                flex-basis:75%;
                color:$white;
                text-indent: 1em;
                font-weight: bold;
            }
            padding:.5em 2.5%;

        }
    }
    .game-buttons {
        flex-basis:50%;
        padding-top:1em;
        background:$off-black;
        display:flex;
        align-items: center;
        .button {
            margin:0 1em .5em;
            flex-basis:33%;
            text-transform: uppercase;

        }
    }
}