.scoresheet {
    .flex {
        display: flex;
    }
    .team-column {
        flex-basis: 20%;
    }
    .score-row {
        .answer-box {
            @include nice-transition();
            &:not(.blank):not(.update) {
                &:hover {
                    background: lighten($blue, 40%);
                    cursor: pointer;
                }
            }
        }
    }
    .answer-box {
        flex-basis: 3%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        border: 1px solid black;
        &.blank {
            background: gray;
        }
        p {
            display: inline-block;
            margin: 0;
            &.false {
                color: red;
            }
            &.true {
                color: green;
            }
        }
    }
}
