$bps:(xs: 0, s:640px, m:1024px, l:1320px);

//config
$cdn-path:"/";
$img-path:$cdn-path+"images/";
$font-path:"/fonts/";

//colors
$black:#000;
$white:#fff;
$off-white:#f6f6f6;
$off-black:#031921;

$blue:#1a3245;
$red:#8b0416;
$gray:#cccccc;

$body-bg-color:linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(219,5,5,1) 100%);

$body-text-color:$off-black;
$body-link-color:$black;
$body-link-hover-color:$off-black;

//fonts
$body-font:'Montserrat',sans-serif;
$nav-font:'Raleway',sans-serif;
$header-font:'Raleway', sans-serif;
$logo-font:'Raleway', sans-serif;
$header-font-size:1.4em;

$gutter-width:50px;
